<html><head></head><body>{% extends 'base.html' %}
{% block menu %}
       <li><a href="{% url 'form_storage' %}">Добавить</a></li>
{% endblock %}
{% block content %}
      <h1>Books</h1>
      <hr>
      {% for append in appends %}
        <h2>{{ append.name }}</h2>
        <p><a href="{% url 'detailed' append.pk %}">Подробнее...</a></p>
        <p><a href="{% url 'update' append.pk %}">Редактирование</a></p>
        <p><a href="{% url 'delete' append.pk %}">Удалить</a></p>

        <hr>
      {% endfor %}
{% endblock %}</body></html>